
.navigation {
	background-color: white;
	text-align: center;
	position: fixed;
	top: 0px;
	left: 0px;
	right:0px;
	z-index: 9999;
	
}

.navigation li {
	display: inline-block;
	padding-bottom: 20px;
	padding-top: 5px;
	margin-right: 10px;
	
}

.navigation a {
	text-decoration: none;
	color: #fff;
	color: black;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
}

.navigation ul {
	height: 30px;
}

.navigation a:hover {
	color: #f2f2f2;
}

.blogpost {
	width:70%;
	margin: 0 auto;
	margin-top: 10px;
	text-align: justify;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px; 
}

.title {	
	padding-top: 50px;
	text-align: center;
	bottom: 0px;
	left: 0px;
	right:0px;
}

.footer {
	background-color: #f2f2f2;
	text-align: center;
	height: 40px;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

.blogpost h2 {
	transition: 1s;
	font-size:1em;
}

.resize {
	width: 100%;
	height: auto;
}


@media screen and (max-width: 500px) {
	.blogpost {
		width: 100%;
	}
}

body {
	margin: 0px;
}
 

#footertext {
	padding-top: 8px;
}


#blogtext {
	text-align: justify;
}













