body {
	margin: 0px;
}

.navigation {
	
	background-color: white;		
	z-index: 9999;
	height: 20px;
	padding-bottom: 35px;
	padding-top: 30px;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;	
}

.navigation li {

	display: inline-block;
	padding: 0px;
	margin-right: 10px;
}

.navigation a {

	text-decoration: none;
	color: #848484;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
}

.navigation ul {		

	z-index: 1;
	overflow: hidden;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;	
}

.navigation a:hover {

	color: #f4f4f4;
}

.title {	

	padding-top: 70px;
	text-align: center;
	bottom: 0px;
	left: 0px;
	right:0px;
}

#info {
	padding-top: 0px;
	text-align: center;
	bottom: 0px;
	left: 0px;
	right:0px;
}

/*.blogpost {

	width:70%;
	margin: 0 auto;
	margin-top: 10px;
	text-align: justify;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px; 
	color: #848484	
}*/

#blogi {
    align-content: center;
}

.blogpost h2 {

	transition: 1s;
	font-size:1em;
}

.blogpost h3 {

	transition: 1s;
	font-size:1em;
	color: black;
	padding-top: 40px;
	padding-left: 40px;	
}

#blogiteksti {
    
    font-family: 'Raleway', sans-serif;
	font-size: 16px; 
	color: #848484;
	text-align: justify;
    align-items: center;
	width: 100%;
    max-width: 1000px;
    margin-left: 150px;
}

#contact {

	background-color: #f4f4f4;
	width: 100%;
	height: 200px;
	padding: 0px;
}

#contacttext {

	color: black;
	padding-top: 0px;
	padding-left: 40px;
}

#logo {

	height: 40px;
	width: 60px;
	padding-left: 40px;
}

.footer {

	background-color: #848484;
	text-align: center;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	
}

#footertext {
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.resize {
	width: 100%;
	height: auto;
}

@media screen and (max-width: 300px) {
	.blogpost {
		width: 60%;
	}
}

@viewport {
	zoom: 1.0;
	width: extend-to-zoom;
}
 
#uutisikkuna {
    text-align: center;
    height: 200px;
}

#controlPanel {
    text-align: center;
}

#otsikko {
    font-size: 20px;
    margin-bottom: 10px;
}

#pvm {
    margin-bottom: 10px;
}

#controlPanel {
    margin-top: 10px;
}

#prev {
    border: none;
    background-color: transparent;
}

#pauseplay {
    border: none;
    background-color: transparent;
}

#next {
    border: none;
    background-color: transparent;
}

#prev:hover {

	color: #f4f4f4;
}

#pauseplay:hover {

	color: #f4f4f4;
}

#next:hover {

	color: #f4f4f4;
}

#download {
    color: #848484;	
    text-align: center;
}

.ongelmat {
    display: flex;
    flex-wrap: wrap;  
    background-color: #f4f4f4;
}

.o {
    max-width: 210px;
    /*display: block;*/
    justify-content: center;
    align-items: center;
    text-decoration: none;
	color: #848484;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
    text-align: center;
    margin-left: 110px;
    margin-right: 100px;
    
}

.ratkaisut {
    display: flex;
    flex-wrap: wrap;  
    background-color: #f4f4f4;
}

.r {
    max-width: 210px;
    /*display: block;*/
    justify-content: center;
    align-items: center;
    text-decoration: none;
	color: #848484;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
    text-align: center;
    margin-left: 110px;
    margin-right: 100px;
    
}

.faktat {
    display: flex;
    flex-wrap: wrap;  
    background-color: #f4f4f4;
}

.f {
    max-width: 210px;
    /*display: block;*/
    justify-content: center;
    align-items: center;
    text-decoration: none;
	color: #848484;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
    text-align: center;
    margin-left: 110px;
    margin-right: 100px;
    
}

#body {
        flex-wrap: wrap;
}


.titles {
    text-decoration: none;
	color: #848484;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
    text-align: center;
    text-decoration-line: underline;
    background-color: #f4f4f4;
    margin: 0px;
    padding-top: 10px;
}

.some {
    display: flex;
    flex-wrap: wrap;  
    background-color: #f4f4f4;
    
}

.s {
    max-width: 210px;
    /*display: block;*/
    justify-content: center;
    align-items: center;
    margin-left: 225px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

#ig {
    height: 50px;
    width: 50px;
}

#fb {
    height: 50px;
    width: 50px;
}

#twitter {
    height: 50px;
    width: 50px;
}

#nyky {
    margin-top: 20px;
}

#uusi {
    margin-top: 30px;
}

#lisää {
    margin-top: 20px;
}

#kakka {
    margin-top: 20px;
}

#blogtitle {  
    text-decoration: none;
	color: #848484;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
    text-align: center;
    text-decoration-line: underline;
    background-color: white;
    margin: 0px;
    padding-top: 10px;
}